[package]
name = "pallet-omnipool-liquidity-mining"
version = "2.0.11"
authors = ['GalacticCouncil']
edition = "2021"
license = "Apache-2.0"
homepage = 'https://github.com/galacticcouncil/hydradx-node'
repository = 'https://github.com/galacticcouncil/hydradx-node'
description = "Liquidity mining for Omnipool."

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
# parity
scale-info = { version = "2.3.1", default-features = false, features = ["derive"] }
codec = { default-features = false, features = ["derive"], package = "parity-scale-codec", version = "3.4.0" }

# local
primitives = { workspace = true }
pallet-omnipool = { workspace = true }

# primitives
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# FRAME
frame-support = { workspace = true }
frame-system = { workspace = true }

# ORML
orml-traits = { workspace = true }

# Warehouse
pallet-liquidity-mining = { workspace = true }
pallet-ema-oracle = { workspace = true }
hydradx-traits = { workspace = true }

hydra-dx-math = { workspace = true }

# third party
primitive-types = { version = "0.12.0", default-features = false }
bitflags = "1.3.2"

# Optional imports for benchmarking
frame-benchmarking = { workspace = true, optional = true }
pallet-balances = { workspace = true, optional = true }
sp-core = { workspace = true, optional = true }
sp-io = { workspace = true, optional = true }

[dev-dependencies]
sp-io = { workspace = true }
sp-core = { workspace = true }
orml-tokens = { workspace = true }
proptest = "1.0.0"
pretty_assertions = "1.2.1"
test-utils = { workspace = true }

[features]
default = ["std"]
std = [
	"codec/std",
	"sp-runtime/std",
	"sp-std/std",
	"frame-support/std",
	"frame-system/std",
	"scale-info/std",
	"sp-core/std",
	"sp-io/std",
	"pallet-balances/std",
	"orml-tokens/std",
  	"pallet-omnipool/std",
	"pallet-liquidity-mining/std",
]
runtime-benchmarks = [
	"frame-benchmarking/runtime-benchmarks",
	"sp-core",
	"sp-io",
	"pallet-balances",
]
try-runtime = [ "frame-support/try-runtime" ]
