[package]
name = 'pallet-route-executor'
version = "1.0.4"
description = 'A pallet to execute a route containing a sequence of trades'
authors = ['GalacticCouncil']
edition = '2021'
license = 'Apache 2.0'
repository = "https://github.com/galacticcouncil/HydraDX-node/tree/master/route-executor"

[dependencies]
codec = { default-features = false, features = ["derive"], package = "parity-scale-codec", version = "3.4.0" }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
serde = { features = ["derive"], optional = true, version = "1.0.137" }

# HydraDX dependencies
hydradx-traits = { workspace = true }

# ORML dependencies
orml-traits = { workspace = true }

# Substrate dependencies
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-system-benchmarking = { workspace = true, optional = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[dev-dependencies]
sp-io = { workspace = true }
pretty_assertions = "1.2.1"
pallet-balances = { workspace = true }
orml-tokens = { workspace = true }
pallet-currencies = { workspace = true }
hydradx-adapters = { workspace = true }
test-utils = { workspace = true }

[features]
default = ['std']
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
]
std = [
  'serde/std',
  'codec/std',
  'sp-std/std',
  'frame-support/std',
  'frame-system/std',
  'orml-tokens/std',
  "hydradx-adapters/std",
]
try-runtime = ["frame-support/try-runtime"]
