[package]
authors = ['GalacticCouncil']
description = 'HydraDX Account duster'
edition = '2018'
homepage = 'https://github.com/galacticcouncil/hydradx-node'
license = 'Apache 2.0'
name = 'pallet-duster'
repository = 'https://github.com/galacticcouncil/hydradx-node'
version = '1.0.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-wasm-builder = {package = 'substrate-wasm-builder', version = '3.0.0'}

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.0.0'

[dependencies]
serde = {features = ['derive'], optional = true, version = '1.0.101'}

# ORML dependencies
orml-traits = {default-features = false, version = "0.4.1-dev"}

# Substrate dependencies
sp-std = {default-features = false, version = '3.0.0'}
frame-support = {default-features = false, version = '3.0.0'}
frame-system = {default-features = false, version = '3.0.0'}

# Optionals
frame-system-benchmarking = {default-features = false, optional = true, version = '3.0.0'}
frame-benchmarking = {default-features = false, optional = true, version = '3.0.0'}

[dev-dependencies]
sp-io = {default-features = false, version = '3.0.0'}
orml-currencies = {default-features = false, version = "0.4.1-dev"}
orml-tokens = {default-features = false, version = "0.4.1-dev"}
primitives = {path = '../../primitives', default-features = false}
lazy_static = {features = ['spin_no_std'], version = "1.4.0"}
sp-core = {default-features = false, version = '3.0.0'}
sp-runtime = {default-features = false, version = '3.0.0'}

[features]
default = ['std']
runtime-benchmarks = [
  "frame-benchmarking",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
]
std = [
  'serde',
  'codec/std',
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-core/std',
  'sp-std/std',
  'orml-tokens/std',
  'orml-traits/std',
  'primitives/std',
  'lazy_static/spin_no_std',
]
