[package]
name = 'pallet-otc-settlements'
version = '1.0.0'
description = 'A pallet with offchain worker closing OTC arbs'
authors = ['GalacticCouncil']
edition = '2021'
license = 'Apache 2.0'
repository = "https://github.com/galacticcouncil/Hydradx-node"

[dependencies]
# parity
codec = { package = "parity-scale-codec", version = "3.4.0", features = ["derive", "max-encoded-len"], default-features = false }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
log = { version = "0.4.17", default-features = false }

# primitives
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-arithmetic = { workspace = true }

# FRAME
frame-support = { workspace = true }
frame-system = { workspace = true }

# HydraDX dependencies
hydradx-traits = { workspace = true }
pallet-otc = { workspace = true }
pallet-route-executor = { workspace = true }

# ORML dependencies
orml-traits = { workspace = true }

# Optional imports for benchmarking
frame-benchmarking = { workspace = true, optional = true }

[dev-dependencies]
hydra-dx-math = { workspace = true }
pallet-omnipool = { workspace = true }
pallet-balances = { workspace = true }
pallet-xyk = { workspace = true }
pallet-currencies = { workspace = true }
sp-api = { workspace = true }
orml-tokens = { workspace = true, features=["std"] }
proptest = "1.0.0"
pretty_assertions = "1.2.1"
test-utils = { workspace = true }
parking_lot = "0.12.1"
env_logger = "*"

[features]
default = ['std']
std = [
  'codec/std',
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-core/std',
  'sp-io/std',
  'sp-std/std',
  "scale-info/std",
  "orml-tokens/std",
  "hydradx-traits/std",
  "hydra-dx-math/std",
  "frame-benchmarking/std",
  "pallet-otc/std",
  "pallet-balances/std",
  "pallet-currencies/std",
  "pallet-route-executor/std",
  "pallet-omnipool/std",
  "pallet-xyk/std",
]

runtime-benchmarks = [
  "frame-benchmarking",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
]
try-runtime = ["frame-support/try-runtime"]
