[package]
name = 'pallet-dca'
version = "1.6.3"
description = 'A pallet to manage DCA scheduling'
authors = ['GalacticCouncil']
edition = '2021'
license = 'Apache 2.0'
repository = "https://github.com/galacticcouncil/warehouse/tree/master/route-executor"

[dependencies]

log = { workspace = true }
rand = { workspace = true }

# parity
scale-info = { workspace = true }
codec = { workspace = true }

# primitives
sp-runtime = { workspace = true }
sp-std = { workspace = true }

# FRAME
frame-support = { workspace = true }
frame-system = { workspace = true }

#cumumlus
cumulus-primitives-core = { workspace = true }
cumulus-pallet-parachain-system = { workspace = true }

# HydraDX dependencies
pallet-xyk = { workspace = true }
pallet-omnipool = { workspace = true }
hydradx-traits = { workspace = true }
hydradx-adapters = { workspace = true }
pallet-ema-oracle = { workspace = true }

hydra-dx-math = { workspace = true }

# ORML dependencies
orml-traits = { workspace = true }

# Optional imports for benchmarking
frame-benchmarking = { workspace = true, optional = true }
sp-core = { workspace = true, optional = true }
sp-io = { workspace = true, optional = true }

primitives = { path = "../../primitives", default-features = false }


[dev-dependencies]
pallet-route-executor = { workspace = true }
smallvec = { workspace = true }
pallet-balances = { workspace = true }
pallet-amm-support = { workspace = true }
pallet-currencies = { workspace = true }
lazy_static = { workspace = true }
sp-api = { workspace = true }
sp-tracing = { workspace = true }
orml-tokens = { workspace = true }
pretty_assertions = { workspace = true }
test-utils = { workspace = true }
test-case = { workspace = true }
primitive-types = { workspace = true }

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'sp-runtime/std',
    'sp-std/std',
    'sp-core/std',
    'sp-io/std',
    "scale-info/std",
    "orml-tokens/std",
    "hydradx-traits/std",
    "hydradx-adapters/std",
    "pallet-omnipool/std",
    "pallet-ema-oracle/std",
]

runtime-benchmarks = [
    "frame-benchmarking",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
]
try-runtime = ["frame-support/try-runtime"]
