[package]
name = "module-evm-utility"
version = "2.21.0"
authors = ["Acala Developers"]
edition = "2021"

[dependencies]
sha3 = { workspace = true }

#Substrate dependencies
sp-std = { workspace = true }

#Evm dependencies
evm = { git = "https://github.com/rust-blockchain/evm", rev = "13240a8a551586fdef0b5028ed73af80b248092a", default-features = false, features = ["with-codec"] }
evm-gasometer = { workspace = true }
evm-runtime = { workspace = true }
ethereum = {  workspace = true }

[features]
default = ["std"]
std = [
	"sha3/std",
	"sp-std/std",
	"evm/std",
	"evm/with-serde",
	"evm-runtime/std",
	"evm-gasometer/std",
	"ethereum/with-serde",
]
tracing = [
	"evm/tracing",
	"evm-gasometer/tracing",
	"evm-runtime/tracing",
]
