[package]
name = "pallet-transaction-multi-payment"
version = "9.2.1"
description = "Transaction multi currency payment support module"
authors = ["GalacticCoucil"]
edition = "2021"
license = "Apache 2.0"
repository = "https://github.com/galacticcouncil/warehouse"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { default-features = false, features = ["derive"], package = "parity-scale-codec", version = "3.4.0" }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }

# ORML dependencies
orml-traits = { workspace = true }

# HydraDX traits
hydradx-traits = { workspace = true }
primitives = { workspace = true }
hydra-dx-math = { workspace = true }

# Substrate dependencies
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-api = { workspace = true }
sp-core = { workspace = true }
sp-std = { workspace = true }
sp-runtime = { workspace = true }
pallet-transaction-payment = { workspace = true }

pallet-evm = { workspace = true, optional = true }

[dev-dependencies]
pallet-currencies = { workspace = true }
orml-tokens = { workspace = true, features=["std"] }
pallet-balances = { workspace = true, features=["std"] }
sp-io = { workspace = true }
test-utils = { workspace = true }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-core/std",
    "sp-api/std",
    "frame-support/std",
    "frame-system/std",
    "pallet-transaction-payment/std",
    "sp-runtime/std",
    "orml-traits/std",
    "hydradx-traits/std",
    "scale-info/std",
    "pallet-evm/std",
    "primitives/std",
]
try-runtime = ["frame-support/try-runtime"]
evm = ["pallet-evm"]
