[package]
name = 'pallet-xyk'
version = "6.6.0"
description = 'XYK automated market maker'
authors = ['GalacticCouncil']
edition = '2021'
homepage = 'https://github.com/galacticcouncil/hydradx-node'
license = 'Apache 2.0'
repository = 'https://github.com/galacticcouncil/hydradx-node'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-wasm-builder = { workspace = true }

[dependencies]
codec = { workspace = true }
scale-info = { workspace = true }
primitive-types = { workspace = true }
serde = { workspace = true, optional = true }
log = { workspace = true }

hydra-dx-math = { workspace = true }

# ORML dependencies
orml-tokens = { workspace = true }
orml-traits = { workspace = true }

# HydraDX dependencies
hydradx-traits = { workspace = true }
pallet-amm-support = { workspace = true }

# Substrate dependencies
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
pallet-asset-registry = { workspace = true }
sp-io = { workspace = true }
sp-api = { workspace = true }
proptest = { workspace = true }

[features]
default = ['std']
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-system/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
]
std = [
    'serde',
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'sp-runtime/std',
    'sp-core/std',
    'sp-std/std',
    'orml-traits/std',
    "hydradx-traits/std",
    'orml-tokens/std',
    'frame-benchmarking/std',
    "scale-info/std",
    "pallet-asset-registry/std",
    "pallet-amm-support/std",
]
try-runtime = ["frame-support/try-runtime"]
