[package]
name = 'pallet-xyk'
version = "6.2.8"
description = 'XYK automated market maker'
authors = ['GalacticCouncil']
edition = '2021'
homepage = 'https://github.com/galacticcouncil/hydradx-node'
license = 'Apache 2.0'
repository = 'https://github.com/galacticcouncil/hydradx-node'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.38" }

[dependencies]
codec = { default-features = false, features = ["derive"], package = "parity-scale-codec", version = "3.1.5" }
scale-info = { version = "2.3.1", default-features = false, features = ["derive"] }
primitive-types = { default-features = false, version = "0.12.0" }
serde = { features = ['derive'], optional = true, version = '1.0.136' }
log = { version = "0.4.17", default-features = false }

hydra-dx-math = { workspace = true }

# Local dependencies
primitives = {path = '../../primitives', default-features = false}

# ORML dependencies
orml-tokens = { workspace = true }
orml-traits = { workspace = true }
orml-utilities = { workspace = true }

# HydraDX dependencies
hydradx-traits = { workspace = true }

# Substrate dependencies
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
frame-system-benchmarking = { workspace = true, optional = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
pallet-asset-registry = { workspace = true }
sp-io = { workspace = true }
sp-api = { workspace = true }
proptest = "1.0.0"

[features]
default = ['std']
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-system/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
]
std = [
    'serde',
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'sp-runtime/std',
    'sp-core/std',
    'sp-std/std',
    'orml-traits/std',
    'primitives/std',
    "hydradx-traits/std",
    'orml-tokens/std',
    'frame-benchmarking/std',
    "scale-info/std",
    "pallet-asset-registry/std",
]
try-runtime = ["frame-support/try-runtime"]
