[package]
name = "pallet-referrals"
version = "1.2.8"
authors = ['GalacticCouncil']
edition = "2021"
license = "Apache-2.0"
homepage = 'https://github.com/galacticcouncil/hydradx-node'
repository = 'https://github.com/galacticcouncil/hydradx-node'
description = "HydraDX Referrals pallet"
readme = "README.md"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
hex-literal = { workspace = true }
# parity
scale-info = { workspace = true }
codec = { workspace = true }

# HydraDX
hydradx-traits = { workspace = true }
hydra-dx-math = { workspace = true }

# primitives
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }

# FRAME
frame-support = { workspace = true }
frame-system = { workspace = true }

# Optional imports for benchmarking
frame-benchmarking = { workspace = true, optional = true }
sp-io = { workspace = true, optional = true }
orml-traits = { workspace = true }

[dev-dependencies]
sp-io = { workspace = true }
sp-tracing = { workspace = true }
pretty_assertions = { workspace = true }
orml-tokens = { workspace = true }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-runtime/std",
    "sp-std/std",
    "frame-support/std",
    "frame-system/std",
    "scale-info/std",
    "sp-core/std",
    "sp-io/std",
    "orml-tokens/std",
    "frame-benchmarking/std"
]

runtime-benchmarks = [
    "frame-benchmarking/runtime-benchmarks",
    "sp-io",
]
try-runtime = ["frame-support/try-runtime"]
