[package]
name = "pallet-genesis-history"
version = "2.1.3"
description = "Keeping track of the past chain generations."
authors = ["GalacticCouncil <hydradx@galacticcouncil.io>"]
edition = "2021"
license = "Apache-2.0"
homepage = "https://substrate.dev"
repository = "https://github.com/paritytech/substrate/"

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
serde = { workspace = true }
codec = { workspace = true }
scale-info = { workspace = true }
derive_more = { workspace = true }
log = { workspace = true }

frame-support = { workspace = true }
frame-system = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
hex-literal = { workspace = true }

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'serde/std',
    'scale-info/std',
]
try-runtime = [ "frame-support/try-runtime" ]
