[package]
name = "pallet-liquidity-mining"
version = "4.2.5"
description = "Liquidity mining"
authors = ["GalacticCouncil"]
edition = "2021"
homepage = "https://github.com/galacticcouncil/warehouse"
license = "Apache 2.0"
repository = "https://github.com/galacticcouncil/warehouse"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.4.0", features = ["derive", "max-encoded-len"], default-features = false }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
sp-arithmetic = { workspace = true }

# ORML dependencies
orml-traits = { workspace = true }

# HydraDX dependencies
hydradx-traits = { workspace = true }
hydra-dx-math = { workspace = true }

# Substrate dependencies
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }

[dev-dependencies]
test-utils = { workspace = true }
sp-io = { workspace = true }
sp-core = { workspace = true }
orml-tokens = { workspace = true }
pallet-balances = { workspace = true }
# This can be updated to lates after rust update(>=1.61)
fixed = { version = "=1.15.0", default-features = false }
proptest = "1.0.0"
pretty_assertions = "1.2.1"
rand = "0.8.5"

[features]
default = ["std"]
std = [
    "codec/std",
    "frame-support/std",
    "frame-system/std",
    "sp-std/std",
    "orml-traits/std",
    "orml-tokens/std",
    "pallet-balances/std",
    "hydradx-traits/std",
    "sp-arithmetic/std",
    "sp-runtime/std",
    "scale-info/std",
    "hydra-dx-math/std",
]
try-runtime = ["frame-support/try-runtime"]
