[package]
name = "precompile-utils"
description = "Utils to write EVM precompiles."
edition = "2021"
version = "0.1.1"
authors = ["PureStake"]
repository = "https://github.com/PureStake/moonbeam"

[dependencies]
affix = { workspace = true }
derive_more = { workspace = true, optional = true }
environmental = { workspace = true }
hex = { workspace = true }
hex-literal = { workspace = true, optional = true }
impl-trait-for-tuples = { workspace = true }
log = { workspace = true }
num_enum = { workspace = true }
paste = { workspace = true }
scale-info = { workspace = true, optional = true, features = [ "derive" ] }
serde = { workspace = true, optional = true }
sha3 = { workspace = true }
similar-asserts = { workspace = true, optional = true }

# Moonbeam
precompile-utils-macro = { path = "macro" }

# Substrate
frame-support = { workspace = true }
frame-system = { workspace = true }
parity-scale-codec = { version = "3.4.0", default-features = false, features = ["derive"] }
sp-core = { workspace = true }
sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-weights = { workspace = true }

# Frontier
evm = { workspace = true, features = [ "with-codec" ] }
fp-evm = { workspace = true }
pallet-evm = { workspace = true, features = [ "forbid-evm-reentrancy" ] }

# Polkadot / XCM
xcm = { workspace = true, optional = true }

[dev-dependencies]
hex-literal = { workspace = true }
xcm = { workspace = true }

[features]
default = [ "std" ]
std = [
	"environmental/std",
	"fp-evm/std",
	"frame-support/std",
	"frame-system/std",
	"pallet-evm/std",
	"parity-scale-codec/std",
	"sp-core/std",
	"sp-io/std",
	"sp-std/std",
	"xcm/std",
	"environmental/std",
]
codec-xcm = [ "xcm" ]
testing = [ "derive_more", "hex-literal", "scale-info", "serde", "similar-asserts", "std" ]
