[package]
name = "pallet-stableswap"
version = "5.3.0"
description = "AMM for correlated assets"
authors = ["GalacticCouncil"]
edition = "2021"
homepage = "https://github.com/galacticcouncil/warehouse"
license = "Apache 2.0"
repository = "https://github.com/galacticcouncil/warehouse"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
bitflags = { workspace = true }
num-traits = {  workspace = true }

# parity
scale-info = { workspace = true }
codec = { workspace = true }
serde = { workspace = true }

# HydraDX dependencies
hydradx-traits = { workspace = true }
pallet-broadcast = { workspace = true }

# primitives
sp-runtime = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-io = { workspace = true }

# FRAME
frame-support = { workspace = true }
frame-system = { workspace = true }

# Math
hydra-dx-math = { workspace = true }

# ORML dependencies
orml-traits = { workspace = true }

# Optional imports for benchmarking
frame-benchmarking = { workspace = true, optional = true }

[dev-dependencies]
sp-api = { workspace = true }
sp-tracing = { workspace = true }
orml-tokens = { workspace = true, features = ["std"] }
proptest = { workspace = true }
test-utils = { workspace = true }
pretty_assertions = "1.4.0"

[features]
default = ["std"]
runtime-benchmarks = [
    "frame-benchmarking",
    "frame-system/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
    "hydra-dx-math/runtime-benchmarks",
]
std = [
    "serde/std",
    "codec/std",
    "scale-info/std",
    "frame-support/std",
    "frame-system/std",
    "sp-runtime/std",
    "sp-core/std",
    "sp-io/std",
    "sp-std/std",
    "orml-tokens/std",
    "frame-benchmarking/std",
    "orml-traits/std",
    "hydra-dx-math/std",
    "pallet-broadcast/std",
]
try-runtime = ["frame-support/try-runtime"]
