[package]
name = 'pallet-dynamic-fees'
version = '1.0.2'
description = 'A pallet to provide support for dynamic fees'
authors = ['GalacticCouncil']
edition = '2021'
license = 'Apache 2.0'
repository = "https://github.com/galacticcouncil/warehouse"

[dependencies]
codec = { default-features = false, features = ["derive"], package = "parity-scale-codec", version = "3.4.0" }
scale-info = { version = "2.1.2", default-features = false, features = ["derive"] }
serde = { features = ["derive"], optional = true, version = "1.0.137" }

# HydraDX dependencies
hydra-dx-math = { workspace = true }

# ORML dependencies
orml-traits = { workspace = true }

# Substrate dependencies
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[dev-dependencies]
sp-io = { workspace = true }
proptest = "1.0.0"

[features]
default = ['std']
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
]
std = [
  'serde/std',
  'scale-info/std',
  'codec/std',
  'sp-core/std',
  'sp-std/std',
  'sp-runtime/std',
  'sp-io/std',
  'frame-support/std',
  'frame-system/std',
  'orml-traits/std',
]
try-runtime = ["frame-support/try-runtime"]
