[package]
name =  "pallet-dynamic-fees"
version = "2.0.1"
description = "A pallet to provide support for dynamic fees"
authors = ["GalacticCouncil"]
edition = "2021"
license = "Apache 2.0"
repository = "https://github.com/galacticcouncil/warehouse"

[dependencies]
codec = { workspace = true }
scale-info = {workspace = true }
serde = { workspace = true, optional = true }
log = { workspace = true }

# HydraDX dependencies
hydra-dx-math = { workspace = true }
hydradx-traits = { workspace = true }

# Substrate dependencies
frame-benchmarking = { workspace = true, optional = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
sp-std = { workspace = true }
sp-core = { workspace = true }
sp-runtime = { workspace = true }

[dev-dependencies]
sp-io = { workspace = true }
proptest = { workspace = true }

[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
]
std = [
  "serde/std",
  "scale-info/std",
  "codec/std",
  "sp-core/std",
  "sp-std/std",
  "sp-runtime/std",
  "sp-io/std",
  "frame-support/std",
  "frame-system/std",
  "hydradx-traits/std",
]
try-runtime = ["frame-support/try-runtime"]
